*{
  box-sizing: border-box;
  font-family: 'Inter';
  font-style: normal;
}
body{
  margin: 0;
  padding: 0;
}
img{
  max-width: 100%;
}

.App{
  max-width: 320px;
  margin: 20px auto;
  background-color: #1A1B21;
  color: white;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}

/* header css */
.header-logo{
  width: 100%;
  
}
.header--detail{
  text-align: center;
}

.header--detail h1{
  margin-block: 1px
}

.header--detail h4{
  margin-block:2px ;
  color: #F3BF99;
}

.header--detail p{
  margin-block: 2px;
}

.header--detail--contact{
  display: flex;
  align-items: center;
  padding: 1em;
  gap: 10px;
  justify-content: center;
}

.header--detail--contact a{
  padding: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
  background: #FFFFFF;
  color: black;
  border: 1px solid #D1D5DB;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  cursor: pointer;
}

.header--detail--contact .linkedin-logo{
  background: #5093E2;
  color: white;
}

.header--detail--contact .linkedin-logo img{
  background-color: white;
}

/* Main css*/
main{
  padding: 2em;
}

main h1, main p{
  margin-block: 2px;
}

main h1{
  font-weight: 700;
  font-size: 22px;
  line-height: 150%;
}

main p{
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  /* or 15px */
}
/* footer css */
footer{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 1em;
  background-color: black;
}